.panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    color: yellow;
    
    display: flex;
}
@media only screen and (max-width: 599px){
    .panel {
        flex-direction: column;
    }
}

.panel button{
    padding: 10px;
    background-color: transparent;
    color: white;
}

.subPanel {
    height: 100%;
    width: 100%;
    border: 2px solid silver;
    border-radius: 5px;
    background-color: #c0c0c017;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    display: flex;
    gap: 2%;
    flex-direction: column;
}
.subPanel div{
    width: 100%;
    height: 100%;
    border: 2px solid silver;
    display: flex;
    align-items: center;
    justify-content: center;
}


#chip {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 599px) {
    #chip{
        background: url('/public/selBG_lo.png');
    }
}
@media only screen and (min-width: 600px) {
    #chip{
        background: url('/public/selBG_hi.png');
    }
}

#to_category {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    
    align-items: center;
    justify-content: center;
}
#to_category button {
    background-color: yellowgreen;
    color: black;
}

#stats{
    box-sizing: border-box;
    padding: 5%;
}

#dish {
    align-items: center;
    justify-content: center;
}
#dish div{
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 25%;
}

.login_warn {
    width: 80%;
    height: 20%;
    background-color: #c0c0c038;
    border: 2px solid silver;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}