.footer-nav-link {
    color: inherit;
    text-decoration: overline;
    font-size: 0.65rem;
}

.info_nav ul,
.social_nav ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

a:visited {
    text-decoration: none;
    color: inherit;
    fill: inherit;
}