.logo {
    width: 100px;
    height: 100px;
    background-image: url('/public/favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.notice,
.notice_login {
    background-color: black;
    color: white;
}
.notice_resol{
    background: var(--skyfall);
    color: black;
    opacity: 0.9;
}
.notice,
.notice_resol,
.notice_login {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    font-family: 'cagliostro','nunito', sans-serif;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;

    text-align: justify;
    padding: 10%;
}
.notice button,
.notice_resol button,
.notice_login button {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: goldenrod;
    border: 1px solid white;
    transition: 0.5s background-color, 1s color;

    pointer-events: all;
}
.notice button:hover,
.notice_resol button:hover,
.notice_login button:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black;
}
.notice_resol button {
    color: black;
    border: 1px solid black;
}
.nullify {
    display: none;
}
.maximise {
    height: auto;
    visibility: visible;
}
.accepted {
    opacity: 0;
    pointer-events: none;
    z-index: -99;
    transition: 2s;
}

@media only screen and (min-width: 600px){
    .notice_resol {
        display: none;
    }
}