@font-face {
    font-family: 'nunito';
    src: url('./nunito-regular.woff');
}

@font-face {
    font-family: 'openscript';
    src: url('./openscript.woff');
}

@font-face {
    font-family: 'smartpeople';
    src: url('./smartpeople.woff');
}

@font-face {
    font-family: 'refbeverage';
    src: url('./refbeverage.woff');
}

@font-face {
    font-family: 'belligerent';
    src: url('./belligerentmadness.woff');
}

@font-face {
    font-family: 'eraser';
    src: url('./eraser-regular.woff');
}

@font-face {
    font-family: 'digital';
    src: url('./digitalitalic.woff');
}